<style>
    
</style>

<div class="Builder"><TMPL_VAR name="querybuilder"></div>
    <div id ="result">
    <div id="resulttable"><TMPL_VAR name="queriedtable"></div>
    <div id="loading" class="loading opaque center">
    <div class="waves"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    </div></div>
</div>
