<div class="filter active" id="filter<TMPL_VAR name='idx'>" style="display:flex; flex-direction: column;">
    <div style="margin: 10px; border: 1px solid slategray; border-radius: 3px;">
        <TMPL_VAR name="field"> <TMPL_VAR name="operator"> <TMPL_VAR name="value"> <button type="button" style="align-self: flex-end; border: 1px solid slategrey; border-radius: 2px; margin: 2%;" onclick="removeFilter(this.id)">Remove this Filter</button>
    </div>
    <select name="concatenator" id="concatenator<TMPL_VAR name='idx'>" class="opaque">
        <TMPL_LOOP name="concatenators">
            <option value="<TMPL_VAR name='concatenatorid'>">"<TMPL_VAR name="concatenator">"</option>
        </TMPL_LOOP>
    </select>
</div>