<label for='filter_<TMPL_VAR name="parametername">_select'>
    <TMPL_VAR name="parametername">
</label>
<select name='filter_<TMPL_VAR name="parametername">_select' id='filter_<TMPL_VAR name="parametername">_select' size="1" multiple>
    <TMPL_LOOP name="boxes">
        <option value="<TMPL_VAR name='boxvalue'>" selected="<TMPL_VAR name='checked'>"><TMPL_VAR name='boxvalue'></option>
    </TMPL_LOOP>
</select> 