<div class="singlefilterbuilder">
    <div class="fieldselector filterelem">
        Field:
        <select name="Field" id="fieldselect">
            <TMPL_LOOP name="fields">
                <option value="<TMPL_VAR name='fieldname'>"><TMPL_VAR name="fieldname"></option>
            </TMPL_LOOP>
        </select>
    </div>
    <div class="operatorselector filterelem">
        Operator:
        <select name="operator" id="operatorselect">
            <TMPL_LOOP name="operators">
                <option value="<TMPL_VAR name='operatorid'>">"<TMPL_VAR name="operator">"</option>
            </TMPL_LOOP>
        </select>
    </div>
    <div class="value filterelem">
        Value:
        <input type="text" id="value" name="value" style="border: 1px solid slategray; border-radius: 2px;">
    </div>
    <div class="addfilterbutton" id="addfilterbutton">
        <button type="button" onclick="addFilter()">Click here to add a filter</button> 
    </div>
</div>
<script>
    async function addFilter() {
    const field = document.getElementById("fieldselect").value;
    const operator = document.getElementById("operatorselect").value;
    const value = document.getElementById("value").value;

    const text = await getSnippet("filtertemplate&field="+field+"&operator="+operator+"&value="+value+"&idx="+filters.length);
    const filterlist = document.getElementById("filterlist");
    filterlist.innerHTML += text;
    if(filters.length != 0) {
        const concatenatorselector = document.getElementById(`concatenator${filters.length - 1}`);
        concatenatorselector.classList.remove("opaque");
    }
    filters.push({"field" : field, "operator": operator, "value" : value, "idx" : filters.length});
}
</script>