<div class ="filters" style="border-top: 1px solid slategray;">
    Active Filters:
    <div class="filterlist" id="filterlist">

    </div>
</div>
<div class="options" style="border-top: 1px solid slategray; border-bottom: 1px solid slategray; display: flex; flex-direction: row;">
    <TMPL_LOOP name="optionsCheckBoxes">
        <TMPL_VAR name="option">
    </TMPL_LOOP>
</div>
<input type="text" placeholder="Search all columns..." id="searchField" value="<TMPL_VAR name='lastsearch'>" oninput="searchAllColumns(this.value);"><button type="button" id="searchinputbutton" onclick="searchAllColumns(document.getElementById('searchField').value)"><i class="fa fa-search"></i></button>
<script>
  filtercheckboxesdata = JSON.parse('<TMPL_VAR name="filtercheckboxesdata">');
</script>