
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="padding: 20px">
    <div><TMPL_VAR name="Tablename"></div>
    <table> 
        <form action="" method="GET"> 
            <tr>
                <TMPL_LOOP NAME="HEADERS">
                    <th class="sortable" id="<TMPL_VAR name='HName'>" style="display: flexbox; flex-direction: column-reverse;" onclick="toggleSort(this);">
                        <span class="ascend-indicator">↑</span>
                        <b><TMPL_VAR NAME="HName"></b>
                        <span class="descend-indicator">↓</span>
                    </th>
                </TMPL_LOOP>
            </tr>
                <TMPL_LOOP NAME="rows">
                    <TMPL_VAR NAME="row">
                </TMPL_LOOP>
            <!-- <input type="submit" value="Test and Save" class="transition duration-500 rounded border-r-4 px-2 pt-1 pb-2 hover:text-slate-500 hover:bg-slate-50 hover:cursor-pointer <TMPL_IF NAME=active> bg-slate-50 <TMPL_ELSE> text-slate-50 bg-slate-500 </TMPL_IF>" href="%link%"></input> -->
        </form> 
    </table> 
    <div>Results: <TMPL_VAR name="resultcount"></div>
</div>
<script>
sortBy = '<TMPL_VAR name="lastSortNameParameter">';
sortOrder = '<TMPL_VAR name="lastSortOrder">'; 
</script>